body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #edd6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .card {
    background: white;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card h2 {
    margin-bottom: 15px;
    color: #111827;
  }
  
  .card p {
    color: #4b5563;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .email-info {
    margin-bottom: 20px;
    color: #1f2937;
  }
  
  button {
    background: rgba(171, 5, 8, 0.84);
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #1d4ed8;
  }
  
  .tak-berjudul-3-20241022091250-1 {
    width: 439.46px;
    height: 465.7px;
    position: absolute;
    left: 845px;
    top: 20.23px;
    transform-origin: 0 0;
    transform: rotate(-38.777deg) scale(1, 1);
    object-fit: cover;
  }
  .tak-berjudul-3-20241022091250-3 {
    width: 439.46px;
    height: 465.7px;
    position: absolute;
    left: 529.26px;
    top: 41px;
    transform-origin: 0 0;
    transform: rotate(45deg) scale(-1, 1);
    object-fit: cover;
  }
  .tak-berjudul-3-20241022091250-2 {
    border-radius: 85px;
    width: 498.04px;
    height: 467.49px;
    position: absolute;
    left: -50px;
    top: 253px;
    transform-origin: 0 0;
    transform: rotate(-2.049deg) scale(1, 1);
    object-fit: cover;
  }
  .tak-berjudul-3-20241022091250-4 {
    border-radius: 85px;
    width: 498.04px;
    height: 467.49px;
    position: absolute;
    left: 1410px;
    top: 253px;
    transform-origin: 0 0;
    transform: rotate(-2.049deg) scale(-1, 1);
    object-fit: cover;
  }
  
  