.tampilanketika-lupa-pasword,
.tampilanketika-lupa-pasword * {
  box-sizing: border-box;
}
.tampilanketika-lupa-pasword {
  background: #edd6d6;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.premium-vector-traditional-balinese-barong-mask-removebg-preview-1 {
  width: 698px;
  height: 771px;
  position: absolute;
  left: 641px;
  top: 192px;
  object-fit: cover;
}
.create-your-new-password {
  color: rgba(171, 5, 8, 0.84);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 856px;
  top: 262px;
  width: 266px;
  height: 25px;
}
.password {
  color: rgba(171, 5, 8, 0.84);
  text-align: center;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 75px;
  font-weight: 400;
  position: absolute;
  left: 758px;
  top: 154px;
  width: 464px;
  height: 93px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: rgba(171, 5, 8, 0.84);
  border-radius: 20px;
  width: 409px;
  height: 60px;
  position: absolute;
  left: 793px;
  top: 659px;
}
.create-new-password {
  color: #fefcf8;
  text-align: center;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 749px;
  top: 665px;
  width: 495px;
  height: 49px;
}
.rectangle-4 {
  background: #fefcf8;
  border-radius: 18px;
  width: 547.28px;
  height: 66.21px;
  position: absolute;
  left: 724px;
  top: 476.31px;
}
.mdi-lock {
  width: 63.7px;
  height: 48.15px;
  position: absolute;
  left: 735.66px;
  top: 485.34px;
  overflow: visible;
}
.icon-park-outline-eyes {
  width: 29.61px;
  height: 25.08px;
  position: absolute;
  left: 1221.94px;
  top: 497.38px;
  overflow: hidden;
}
.group {
  width: 75%;
  height: 70.83%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 14.58%;
  top: 14.58%;
  overflow: visible;
}
.confirmation-password {
  color: rgba(171, 5, 8, 0.5);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 810px;
  top: 494px;
  width: 222px;
  height: 25px;
}
.rectangle-40 {
  background: #fefcf8;
  border-radius: 18px;
  width: 547.28px;
  height: 66.21px;
  position: absolute;
  left: 724px;
  top: 380px;
}
.mdi-lock2 {
  width: 63.7px;
  height: 48.15px;
  position: absolute;
  left: 735.66px;
  top: 389.03px;
  overflow: visible;
}
.icon-park-outline-eyes2 {
  width: 29.61px;
  height: 25.08px;
  position: absolute;
  left: 1221.94px;
  top: 401.07px;
  overflow: hidden;
}
.group2 {
  width: 75%;
  height: 70.83%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 14.58%;
  top: 14.58%;
  overflow: visible;
}
.password2 {
  color: rgba(171, 5, 8, 0.5);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 809.65px;
  top: 397.42px;
  width: 110px;
  height: 25px;
}
.group-27 {
  position: absolute;
  inset: 0;
}
.ellipse-5 {
  background: rgba(255, 252, 252, 0.4);
  border-radius: 50%;
  width: 86.04px;
  height: 78.25px;
  position: absolute;
  left: 1269.97px;
  top: 901.73px;
}
.ellipse-6 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 42.52px;
  height: 45.14px;
  position: absolute;
  left: 1292.72px;
  top: 918.79px;
}
.ellipse-7 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 48.46px;
  height: 35.11px;
  position: absolute;
  left: 1273.93px;
  top: 950.89px;
}
.ellipse-8 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 21.76px;
  height: 19.06px;
  position: absolute;
  left: 1335.24px;
  top: 912.77px;
}
.ellipse-9 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 18.79px;
  height: 18.06px;
  position: absolute;
  left: 1285.8px;
  top: 913.77px;
}
.ellipse-10 {
  background: rgba(255, 252, 252, 0.4);
  border-radius: 50%;
  width: 85px;
  height: 81px;
  position: absolute;
  left: 68px;
  top: 44px;
}
.weui-arrow-filled {
  width: 44.66px;
  height: 73.88px;
  position: absolute;
  left: 133px;
  top: 120.88px;
  transform: translate(-45px, -73.88px);
  overflow: visible;
}
.whats-app-image-2024-11-02-at-13-50-25 {
  width: 580px;
  height: 1024px;
  position: absolute;
  left: -9px;
  top: 0px;
  object-fit: cover;
}
.rectangle-36 {
  border-radius: 0px;
  width: 13.96%;
  height: 100%;
  position: absolute;
  right: 54.24%;
  left: 31.81%;
  bottom: 0.2%;
  top: -0.2%;
  transform: translate(0px, 2px);
  overflow: visible;
}
.rectangle-35 {
  border-radius: 0px;
  width: 12.22%;
  height: 100%;
  position: absolute;
  right: 54.24%;
  left: 33.54%;
  bottom: 0.2%;
  top: -0.2%;
  transform: translate(0px, 2px);
  overflow: visible;
}
