.log-in,
.log-in * {
  box-sizing: border-box;
}
.log-in {
  background: #edd6d6;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-40 {
  border-radius: 58px;
  width: 829px;
  height: 942px;
  position: absolute;
  left: 611px;
  top: 41px;
}
.create-your-new-account {
  color: rgba(171, 5, 8, 0.84);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 888px;
  top: 262px;
  width: 266px;
  height: 25px;
}
.login-here {
  color: rgba(171, 5, 8, 0.84);
  text-align: center;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 75px;
  font-weight: 400;
  position: absolute;
  left: 790px;
  top: 159px;
  width: 464px;
  height: 93px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: rgba(171, 5, 8, 0.84);
  border-radius: 20px;
  width: 370px;
  height: 60.19px;
  position: absolute;
  left: 845px;
  top: 656px;
}
.log-in2 {
  color: #fefcf8;
  text-align: center;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 933px;
  top: 662px;
  width: 193px;
  height: 49px;
}
.rectangle-38 {
  background: #fefcf8;
  border-radius: 18px;
  width: 94.2px;
  height: 57.18px;
  position: absolute;
  left: 929px;
  top: 820px;
}
.rectangle-39 {
  background: #fefcf8;
  border-radius: 18px;
  width: 94.2px;
  height: 57.18px;
  position: absolute;
  left: 1038.46px;
  top: 820px;
}
.logos-facebook {
  width: 43px;
  height: 40px;
  position: absolute;
  left: 1064px;
  top: 828px;
  overflow: visible;
}
.flat-color-icons-google {
  width: 43px;
  height: 49px;
  position: absolute;
  left: 954.61px;
  top: 823.55px;
  overflow: visible;
}
.rectangle-5 {
  background: #fefcf8;
  border-radius: 18px;
  width: 547.28px;
  height: 66.21px;
  position: absolute;
  left: 755px;
  top: 377px;
}
.rectangle-4 {
  background: #fefcf8;
  border-radius: 18px;
  width: 547.28px;
  height: 66.21px;
  position: absolute;
  left: 756px;
  top: 473.31px;
}
.mdi-email {
  width: 49.35px;
  height: 47.15px;
  position: absolute;
  left: 774.84px;
  top: 387.04px;
  overflow: visible;
}
.mdi-lock {
  width: 63.7px;
  height: 48.15px;
  position: absolute;
  left: 767.66px;
  top: 482.34px;
  overflow: visible;
}
.icon-park-outline-eyes {
  width: 29.61px;
  height: 25.08px;
  position: absolute;
  left: 1253.94px;
  top: 494.38px;
  overflow: hidden;
}
.group {
  width: 75%;
  height: 70.83%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 14.58%;
  top: 14.58%;
  overflow: visible;
}
.email {
  color: rgba(171, 5, 8, 0.5);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 826.65px;
  top: 394.73px;
  width: 102px;
  height: 31px;
}
.password {
  color: rgba(171, 5, 8, 0.5);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 841.65px;
  top: 490.73px;
  width: 110px;
  height: 25px;
}
.remember-me {
  color: rgba(171, 5, 8, 0.7);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 811px;
  top: 564px;
  width: 133px;
  height: 25px;
}
.forgot-password a {
  color: rgba(171, 5, 8, 0.6);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1149px;
  top: 564px;
  width: 154px;
  height: 25px;
}
.remember-me1 input[type="checkbox"] {
  width: 24px;
  height: 25px;
  position: absolute;
  left: 770px;
  top: 561px;
  overflow: visible;
}
.or-use-your-account {
  color: rgba(171, 5, 8, 0.84);
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 928px;
  top: 775px;
  width: 203px;
  height: 25px;
}
.group-27 {
  position: absolute;
  inset: 0;
}
.ellipse-5 {
  background: rgba(255, 252, 252, 0.4);
  border-radius: 50%;
  width: 86.04px;
  height: 78.25px;
  position: absolute;
  left: 1311px;
  top: 899px;
}
.ellipse-6 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 42.52px;
  height: 45.14px;
  position: absolute;
  left: 1333.75px;
  top: 916.05px;
}
.ellipse-7 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 48.46px;
  height: 35.11px;
  position: absolute;
  left: 1314.96px;
  top: 948.16px;
}
.ellipse-8 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 21.76px;
  height: 19.06px;
  position: absolute;
  left: 1376.27px;
  top: 910.04px;
}
.ellipse-9 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 18.79px;
  height: 18.06px;
  position: absolute;
  left: 1326.82px;
  top: 911.04px;
}
.group-29 {
  position: absolute;
  inset: 0;
}
.ellipse-52 {
  background: rgba(255, 252, 252, 0.4);
  border-radius: 50%;
  width: 38.85px;
  height: 32px;
  position: absolute;
  left: 1028.76px;
  top: 847.55px;
}
.ellipse-62 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 19.2px;
  height: 18.46px;
  position: absolute;
  left: 1039.03px;
  top: 854.52px;
}
.ellipse-72 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 21.88px;
  height: 14.36px;
  position: absolute;
  left: 1030.54px;
  top: 867.65px;
}
.ellipse-82 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 9.82px;
  height: 7.8px;
  position: absolute;
  left: 1058.23px;
  top: 852.06px;
}
.ellipse-92 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 8.48px;
  height: 7.39px;
  position: absolute;
  left: 1035.9px;
  top: 852.47px;
}
.whats-app-image-2024-10-21-at-10-22-25-1 {
  width: 580px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-43 {
  border-radius: 0px;
  width: 201px;
  height: 1024px;
  position: absolute;
  left: 448px;
  top: 0px;
  overflow: visible;
}
.tak-berjudul-3-20241022091250 {
  border-radius: 0px;
  width: 176px;
  height: 1024px;
  position: absolute;
  left: 474px;
  top: 0px;
  overflow: visible;
}
.group-28 {
  position: absolute;
  inset: 0;
}
.ellipse-53 {
  background: rgba(255, 252, 252, 0.4);
  border-radius: 50%;
  width: 64.75px;
  height: 68px;
  position: absolute;
  left: 583px;
  top: 38px;
}
.ellipse-63 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 32px;
  height: 39.23px;
  position: absolute;
  left: 600.12px;
  top: 52.82px;
}
.ellipse-73 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 36.47px;
  height: 30.51px;
  position: absolute;
  left: 585.98px;
  top: 80.72px;
}
.ellipse-83 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 16.37px;
  height: 16.56px;
  position: absolute;
  left: 632.12px;
  top: 47.59px;
}
.ellipse-93 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 14.14px;
  height: 15.69px;
  position: absolute;
  left: 594.91px;
  top: 48.46px;
}
.group-272 {
  width: 33.2px;
  height: 42.04px;
  position: static;
}
.ellipse-54 {
  background: rgba(255, 252, 252, 0.4);
  border-radius: 50%;
  width: 32.82px;
  height: 39.04px;
  position: absolute;
  left: 658.36px;
  top: 75.12px;
}
.ellipse-64 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 16.22px;
  height: 22.52px;
  position: absolute;
  left: 667.04px;
  top: 83.63px;
}
.ellipse-74 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 18.48px;
  height: 17.52px;
  position: absolute;
  left: 659.87px;
  top: 99.64px;
}
.ellipse-84 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 8.3px;
  height: 9.51px;
  position: absolute;
  left: 683.26px;
  top: 80.62px;
}
.ellipse-94 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 7.17px;
  height: 9.01px;
  position: absolute;
  left: 664.4px;
  top: 81.12px;
}
.group-282 {
  width: 33.2px;
  height: 42.04px;
  position: static;
}
.ellipse-55 {
  background: rgba(255, 252, 252, 0.4);
  border-radius: 50%;
  width: 32.82px;
  height: 39.04px;
  position: absolute;
  left: 1370px;
  top: 834px;
}
.ellipse-65 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 16.22px;
  height: 22.52px;
  position: absolute;
  left: 1378.68px;
  top: 842.51px;
}
.ellipse-75 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 18.48px;
  height: 17.52px;
  position: absolute;
  left: 1371.51px;
  top: 858.52px;
}
.ellipse-85 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 8.3px;
  height: 9.51px;
  position: absolute;
  left: 1394.9px;
  top: 839.51px;
}
.ellipse-95 {
  background: rgba(254, 252, 248, 0.24);
  border-radius: 50%;
  width: 7.17px;
  height: 9.01px;
  position: absolute;
  left: 1376.04px;
  top: 840.01px;
}
.tak-berjudul-3-20241022091250-1 {
  width: 439.46px;
  height: 465.7px;
  position: absolute;
  left: 994px;
  top: 20.23px;
  transform-origin: 0 0;
  transform: rotate(-38.777deg) scale(1, 1);
  object-fit: cover;
}
.tak-berjudul-3-20241022091250-3 {
  width: 439.46px;
  height: 465.7px;
  position: absolute;
  left: 929.26px;
  top: 41px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(-1, 1);
  object-fit: cover;
}
.tak-berjudul-3-20241022091250-2 {
  border-radius: 85px;
  width: 498.04px;
  height: 467.49px;
  position: absolute;
  left: 333px;
  top: 684.81px;
  transform-origin: 0 0;
  transform: rotate(-2.049deg) scale(1, 1);
  object-fit: cover;
}
.tak-berjudul-3-20241022091250-4 {
  border-radius: 85px;
  width: 498.04px;
  height: 467.49px;
  position: absolute;
  left: 1630.43px;
  top: 673.81px;
  transform-origin: 0 0;
  transform: rotate(-2.049deg) scale(-1, 1);
  object-fit: cover;
}

.email-input, .password-input {
  position: relative;
  z-index: 10;
}
