.homepage-58,
.homepage-58 * {
  box-sizing: border-box;
}
.homepage-58 {
  background: rgba(171, 5, 8, 0.84);
  height: 1014px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-21 {
  height: auto;
  position: absolute;
  left: 1664.93px;
  top: 337.39px;
  transform: translate(-608.93px, -337.39px);
  overflow: visible;
}
.waiter {
  color: #edd6d6;
  text-align: center;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 112px;
  top: 77px;
  width: 416px;
  height: 60px;
}
.ellipse-12 {
  background: #edd6d6;
  border-radius: 50%;
  width: 85px;
  height: 81px;
  position: absolute;
  left: 85px;
  top: 66px;
}
.weui-arrow-filled {
  width: 44.66px;
  height: 73.88px;
  position: absolute;
  left: 150px;
  top: 142.88px;
  transform: translate(-45px, -73.88px);
  overflow: visible;
}
.gg-profile {
  width: 69px;
  height: 55px;
  position: absolute;
  left: 1256px;
  top: 79px;
  overflow: hidden;
}
.group {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}
.group-22 {
  height: auto;
  position: absolute;
  left: -292.44px;
  top: 676px;
  transform: translate(292.44px, 0px);
  overflow: visible;
}
.group-55 {
  height: auto;
  position: absolute;
  left: 264px;
  top: 386px;
  overflow: visible;
}
.menerima-customer-yang-datang-dan-mengantar-customer-ketempat-duduk-mencatat-orderan-customer-dan-menginfokan-orderan-ke-kitchen-untuk-di-proses-pesanan-mengantar-dan-minuman-sesuai-dengan-orderan-customer-membersihkan-meja-customer-seperti-piring-gelas-dan-peralatan-yang-lain-meja-kursi-setelah-customer-selesai-makan-pria-wanita-tanpa-pengalaman-bekerja-sma-smk-17-30-tahun-kandidat-wajib-upload-foto-radius-20-km-dari-penempatan-kerja {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "PortLligatSlab-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 387px);
  top: 419.37px;
  width: 731.96px;
  height: 246.64px;
  transform-origin: 0 0;
  transform: rotate(-0.378deg) scale(1, 1);
}
.menerima-customer-yang-datang-dan-mengantar-customer-ketempat-duduk-mencatat-orderan-customer-dan-menginfokan-orderan-ke-kitchen-untuk-di-proses-pesanan-mengantar-dan-minuman-sesuai-dengan-orderan-customer-membersihkan-meja-customer-seperti-piring-gelas-dan-peralatan-yang-lain-meja-kursi-setelah-customer-selesai-makan-pria-wanita-tanpa-pengalaman-bekerja-sma-smk-17-30-tahun-kandidat-wajib-upload-foto-radius-20-km-dari-penempatan-kerja-span {
  color: rgba(0, 0, 0, 0.6);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "PortLligatSlab-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.menerima-customer-yang-datang-dan-mengantar-customer-ketempat-duduk-mencatat-orderan-customer-dan-menginfokan-orderan-ke-kitchen-untuk-di-proses-pesanan-mengantar-dan-minuman-sesuai-dengan-orderan-customer-membersihkan-meja-customer-seperti-piring-gelas-dan-peralatan-yang-lain-meja-kursi-setelah-customer-selesai-makan-pria-wanita-tanpa-pengalaman-bekerja-sma-smk-17-30-tahun-kandidat-wajib-upload-foto-radius-20-km-dari-penempatan-kerja-span2 {
  color: rgba(0, 0, 0, 0.6);
  font-family: "PortLligatSlab-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.menerima-customer-yang-datang-dan-mengantar-customer-ketempat-duduk-mencatat-orderan-customer-dan-menginfokan-orderan-ke-kitchen-untuk-di-proses-pesanan-mengantar-dan-minuman-sesuai-dengan-orderan-customer-membersihkan-meja-customer-seperti-piring-gelas-dan-peralatan-yang-lain-meja-kursi-setelah-customer-selesai-makan-pria-wanita-tanpa-pengalaman-bekerja-sma-smk-17-30-tahun-kandidat-wajib-upload-foto-radius-20-km-dari-penempatan-kerja-span3 {
  color: rgba(0, 0, 0, 0.6);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "PortLligatSlab-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.rectangle-3 {
  background: #f5c218;
  border-radius: 8px;
  width: 725px;
  height: 62px;
  position: absolute;
  left: 333px;
  top: 850px;
}
.kirim-cv {
  color: #ffffff;
  text-align: center;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 618px;
  top: 859px;
  width: 156px;
  height: 26px;
}
.rectangle-102 {
  border-radius: 0px;
  width: 871px;
  height: 193px;
  position: absolute;
  left: 264px;
  top: 192px;
  overflow: visible;
}
.taman-sari-jakarta-barat {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "PortLligatSlab-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 387px);
  top: 262.54px;
  width: 333.82px;
  height: 24.91px;
  transform-origin: 0 0;
  transform: rotate(-0.378deg) scale(1, 1);
}
.rp-2-juta-rp-2-7-juta {
  color: #000000;
  text-align: left;
  font-family: "PortLligatSlab-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 414px);
  top: 231.11px;
  width: 242.26px;
  height: 54.91px;
  transform-origin: 0 0;
  transform: rotate(-0.378deg) scale(1, 1);
}
.penuh-waktu {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "PortLligatSlab-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 413px);
  top: 287.11px;
  width: 242.26px;
  height: 32.22px;
  transform-origin: 0 0;
  transform: rotate(-0.378deg) scale(1, 1);
}
.waiter2 {
  color: rgba(171, 5, 8, 0.84);
  text-align: center;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 269px;
  top: 206px;
  width: 185px;
  height: 60px;
}
.pt-permata-insan-madani {
  color: #000000;
  text-align: left;
  font-family: "PortLligatSlab-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 413px);
  top: 322.14px;
  width: 247.86px;
  height: 24.58px;
  transform-origin: 0 0;
  transform: rotate(-0.378deg) scale(1, 1);
}
.weui-location-filled {
  width: 21px;
  height: 17px;
  position: absolute;
  left: 307px;
  top: 348px;
  overflow: visible;
}
